* {
    font-family: "iransans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    text-transform: capitalize;
    outline: none;
    transition: all .2s linear;
    transition: width none;
}

@font-face {
    font-family: 'iransans';
    src: url(./font/IranSans.ttf);
}

:root {
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar { /* تنظیمات نوار پیمایش یا اسکرول*/
    width: 1rem;
}

html::-webkit-scrollbar-track { /* تنظیمات نوار پیمایش یا اسکرول*/
    background: transparent;
}

html::-webkit-scrollbar-thumb { /* تنظیمات نوار پیمایش یا اسکرول*/
    background: var(--black);
}


/*
=================
header-1
=================
*/

.header .header-1 {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    padding: 1.5rem 9%;
}

.header .header-1 .logos a {
    display: flex;
    align-items: center;
}

.header .header-1 .logos .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .header-1 .logos .logo i {
    color: var(--green);
    margin-right: 0.7rem;
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    direction: rtl;
}

.header .header-1 .search-form input {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    padding: 0 1.2rem;
    text-transform: none;
    color: var(--black);
    border: none;
    direction: rtl;
}

.header .header-1 .search-form label {
    padding-left: 1.5rem;
    padding-top: 1.3rem;
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}

#search-btn {
    display: none;
}

/*
=================
header-2
=================
*/

.header .header-2 {
    background: var(--green);
}

.header .header-2 .navbar {
    text-align: center;
    direction: rtl;
}

.header .header-2 .navbar a {
    font-size: 2.3rem;
    color: #fff;
    padding: 1.2rem;
    display: inline-block;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}


.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--green);
    text-align: center;
    display: none;
    z-index: 1000;
}

.bottom-navbar a {
    padding: 2rem;
    color: #fff;
    font-size: 2.5rem;
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

.login-form-container {
    position: fixed;
    background: rgba(255,255,255,.9);
    z-index: 10000;
    top: 0;
    right: -105%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login-form-container.active {
    right: 0;
}

.login-form-container form {
    background: #fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 40rem;
    padding: 15px;
    margin: 2rem;
    direction: rtl;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--black);
}

.login-form-container form span {
    font-size: 1.6rem;
    
}

.login-form-container form .box {
    display: flex;
    width: 100%;
    border: var(--border);
    padding: 8px;
    margin-bottom: 18px;
    border-radius: 5px;
}

.login-form-container form .check-box{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .check-box label {
    font-size: 1.6rem;
    color: var(--light-color);
    cursor: pointer;
}


.login-form-container form .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    color: #fff;
    font-size: 1.5rem;
    padding: 8px 15px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.login-form-container form .btn:hover {
    background: var(--dark-color);
}

.login-form-container form p {
    font-size: 1.7rem;
    margin-bottom: 8px;
}

.login-form-container form p a {
    text-decoration: underline;
    color: var(--green);
    font-weight: bold;
    font-size: 1.4rem;
}


.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header .header-1 {
        padding: 2rem;
    }
}


/*=============*/

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

/*=============*/

@media (max-width:768px) {
    html {
        scroll-padding-top: 0;
    }
    body {
        padding-bottom: 6rem;
    }
    .header .header-2 {
        display: none;
    }
    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    #search-btn {
        display: inline-block;
    }
    .header .header-1 .search-form.active {
        top: 115%;
    }
    .bottom-navbar {
        display: block;
    }
}


/*
=================
home section
=================
*/

section {
    padding: 5rem 9%;
}

.home {
    background-image: url(./image/banner-bg.jpg);
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    direction: rtl;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .book-slider {
    flex: 1 1 42rem;
}

.home .row .book-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .book-slider a img {
    height: 25rem;
}

.home .row .book-slider a:hover img {
    transform: scale(.9);
}

.home .row .book-slider .stand {
    width: 100%;
    margin-top: -2rem;
}


.home .row .content h3 {
    font-size: 4rem;
    color: var(--black);
    margin-bottom: 10px;
}

.home .row .content p {
    font-size: 2rem;
    margin-bottom: 20px;
    
}

.btn {
    background: var(--green);
    padding: 6px 22px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.6rem;
}

.btn:hover {
    background: var(--dark-color);
}


@media (max-width:991px) {
    section {
        padding: 3rem 2rem;
    }
}


@media (max-width:768px) {
    .home .row .content {
        text-align: center;
    }
}

/*
=================
icon section
=================
*/

.icon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    direction: rtl;
}

.icon-container .icon-row {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1.5rem;
}

.icon-container .icon-row i {
    font-size: 3.3rem;
    color: var(--green);
}

.icon-container .icon-row h2 {
    font-size: 2.3rem;
    margin-bottom: 3px;
}

.icon-container .icon-row h4 {
    color: var(--light-color);
    font-size: 1.6rem;
}

/*
=================
featured section
=================
*/

.title {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.title::before {
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.title span {
    font-size: 3rem;
    color: var(--black);
    padding: .5rem 2rem;
    background: #fff;
    border: var(--border);
}

.featured-slider .box {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured-slider .box:hover {
    border: var(--border-hover);
}

.featured-slider .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured-slider .box .image img {
    height: 25rem;
}

.featured-slider .box:hover .image  {
    transform: translateY(6rem);
}

.featured-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured-slider .box .icons i {
    color: var(--black);
    font-size: 2.2rem;
    padding:1.3rem  1.5rem;
    cursor: pointer;
}

.featured-slider .box:hover .icons {
    transform: translateY(0%);
}

.featured-slider .box .icons i:hover {
    background: var(--green);
    color: #fff;
}

.featured-slider .box .content {
    background: #eee;
    padding: 1.5rem;
    direction: rtl;
}

.featured-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.featured-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
    margin-bottom: 12px;
}

.featured-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}


.swiper-button-next,
.swiper-button-prev {
    background: #fff;
    height: 4rem;
    width: 4rem;
    border: var(--border-hover);
    color: var(--black);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.5rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}

/*
=================
newslatter section
=================
*/

.newslatter {
    background: url(./image/letter-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.newslatter form {
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}

.newslatter form h3 {
    color: #fff;
    font-size: 2.3rem;
    font-weight: normal;
    margin-bottom: 12px;
}

.newslatter form .box{
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    margin: .7rem 0;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    direction: rtl;
}

.newslatter form .btn {
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.7rem;
}


@media (max-width:768px) {
    .newslatter {
        background-position: right;
    }
    .newslatter form {
        margin-left: 0;
        max-width: 100%;
    }
}


/*
=================
arrival section
=================
*/

.arrival-slider .row {
    border: var(--border);
    padding: 2rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem .6rem;
    direction: rtl;
}

.arrival-slider .row:hover {
    border: var(--border-hover);
}

.arrival-slider .row img {
    height: 15rem;
}

.arrival-slider .row .row-text {
    direction: rtl;
}

.arrival-slider .row .row-text h2{
    font-size: 2.1rem;
    color: var(--black);
    margin-bottom: 2px;
}

.arrival-slider .row .row-text h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 4px;
    font-weight: normal;
}

.arrival-slider .row .row-text span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.arrival-slider .row .row-text .icons {
    font-size: 1.4rem;
    color: var(--green);
}

/*
=================
deal section
=================
*/

.deal {
    background: #eee;
}

.deal-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    direction: rtl;
}

.deal-container .deal-text h3 {
    color: var(--green);
    font-size: 1.8rem;
}

.deal-container .deal-text h1 {
    color: var(--black);
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.deal-container .deal-text p {
    font-size: 1.8rem;
    margin-bottom: 18px;
    line-height: 25px;
}

.deal-container .deal-image  img{
    max-width: 100%;
    width: 600px;
}

@media (max-width:768px) {
    .deal-container {
        display: flex;
        flex-direction: column;
    }
    .deal-container .deal-image  img {
        margin-top: 30px;
    }
    .deal-container .deal-text {
        text-align: center;
    }
}

/*
=================
reviews section
=================
*/

.review-slider .box {
    border: var(--border);
    padding: 1rem 2.3rem;
    gap: 1.5rem;
    margin: 15px 5px;
    cursor: pointer;
    text-align: center;
}

.review-slider .box:hover {
    border: var(--border-hover);
}

.review-slider .box img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.review-slider .box .review-text h1{
    font-size: 1.9rem;
    margin-bottom: 18px;
}

.review-slider .box .review-text p {
    font-size: 1.5rem;
    line-height: 23px;
    margin-bottom: 10px;
}

.review-slider .box .review-text .stars i {
    color: var(--green);
    font-size: 1.5rem;
    margin-bottom: 8px;
}

/*
=================
blog section
=================
*/

.blog-slider .box {
    border: var(--border);
    margin: 15px 5px;
    cursor: pointer;
    gap: 1.5rem;
}

.blog-slider .box img {
    width: 100%;
}

.blog-slider .box .blog-text {
    padding: 15px 15px;
    direction: rtl;
}

.blog-slider .box .blog-text h1 {
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: 15px;
}

.blog-slider .box .blog-text p {
    font-size: 1.4rem;
    line-height: 23px;
    margin-bottom: 20px;
}

/*
=================
contact section
=================
*/

.contact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.contact-text {
    display: flex;
    flex-direction: column;
}

.contact-text h1 {
    font-size: 1.9rem;
    color: var(--black);
    margin-bottom: 10px;
}

.contact-text a {
    margin: 10px 0;
    color: var(--light-color);
    font-size: 1.6rem;
    transition: all .3s ease;
}

.contact-text a i {
    font-size: 1.8rem;
    color: var(--dark-color);
}

.contact-text a span {
    margin: 0 7px;
    
}

.contact-text span:hover {
    margin-left: 20px;
}

.socials {
    text-align: center;
    margin-top: 50px;
}

.socials a {
    font-size: 2rem;
}

.socials a i {
    background: var(--dark-color);
    color: #fff;
    padding: 9px;
    border-radius: 50%;
    border: none;
    margin: 0 3px;
}

.socials a i:hover {
    background: var(--black);
}

@media (max-width:768px) {
    .contact-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width:400px) {
    .contact-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


/*
=================
footer section
=================
*/

.footer .title::before {
    width: 80%;
    left: 150px;
}

.footer h2 {
    text-align: center;
    padding: 40px 0;
    font-size: 1.9rem;
    font-weight: normal;
}

.footer h2 span {
    color: var(--green);
}

/*
=================
loader
=================
*/

.loader-container {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    z-index: 10000;
}

.loader-container.active {
    display: none;
}

.loader-container img {
    height: 10rem;
}